@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Pacifico&display=swap');

body {
    background-color: #061621;
}

#logo-font {
    font-family: 'Aleo', serif;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.card {
    background-color: #061621;
    border: 1px solid #a3a3a3;
    padding: 10px;
}

.card-subtitle {
    color: #a3a3a3;
    margin-top: 10px;
}

.navbar {
    background-color: #061621;
    padding-top: 10px;
    color: white;
}